// Define variables for your color scheme

// Our colours:

// Background Colors:
$background_color: #1C042E;

// Brand Colors:
$primary_color: #B9D9EC;
$secondary_color: #F4F4F4;
$white: #FFFFFF;
$yellow: #F1E4A3;
$light-gray: #f8f9fa;
