.my-profile-container {
  display: flex;
  flex-direction: column; /* Stack content vertically */
  align-items: center; /* Center-align everything */
  min-height: 100vh; /* Full viewport height */
  padding: 8rem 4rem;
  text-align: center; /* Center-align text inside the container */

}

.profile-title {
  position: absolute; /* Position title independently */
  top: 6.5rem; /* Distance from the top of the parent container */
  left: 50%;
  transform: translateX(-50%); /* Center horizontally */
  font-size: 2rem;
  margin: 0; /* Remove default margin */
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #B9D9EC;
}

.img-user-container {
  // width: auto; /* Ensure the content takes the necessary width */
  // justify-content: center; /* Center the image and text block */
  // flex-direction: row;
  gap: 1rem; /* Add spacing between image and text (optional if not using `ms-3`) */
  display: flex;
  align-items: flex-start;
  margin-left: 0;
  width: 100%;
}

.image-placement {
  margin-top: 5rem;
}

.profile-img{
  border-radius: 50%;
  width: 5.5rem;
  height: 5.5rem;
  border: solid #B9D9EC;
}

.username-container {
  text-align: left; /* Ensure text aligns to the left */
  margin-top: 5rem;
}

.username-title{
  color: #B9D9EC;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: -0.1rem;
}

.profile-links {
  display: flex;
  align-items: flex-start;
  flex-direction: column; /* Stack items vertically */
  margin-left: 0;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  gap: 2.5rem;
}

.link-container{
  margin-top: 4rem;
  width: 100%;
}

.edit-profile-link{
  display: flex;
  align-items: center; /* Align icon and text vertically */
  gap: 1rem; /* Add some space between the icon and the text */
}

.community-center{
  display: flex;
  justify-content: center;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #CEF1A3;
  margin-top: 6rem;
}

.community-p{
  color: #CEF1A3
}

.community-white-icon {
  fill: #CEF1A3
}

.carousel {
  display:  flex;
  justify-content: center;
  max-width: 100%;
  margin-top: 3rem; /* Adjust the spacing as needed */
}

.carousel-inner img {
  border-radius: 10px; /* Optional: adds rounded corners to images */
}
