<div class="search-container">
  <%= form_with url: books_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :search,
          params[:search],
          class: "form-control",
          placeholder: "Search for books..." %>
    <%# <%= submit_tag "Search", class: "btn" %>
  <% end %>
</div>
