<div data-controller="display-form">
  <button class="btn btn-primary" data-action="click->display-form#render">Discover</button>
  <%= render "books/discover" %>
  <template class="discover-book">
    <div>
      <p></p>
    </div>
  </template>
</div>
