<div class="d-none" data-display-form-target="questionaire">
  <div data-display-form-target="question_1">
    <p>What emotion are you looking to experience?</p>
    <ul>
      <li>Inspired</li>
      <li>Suspense</li>
      <li>Somber</li>
      <li>Joyful</li>
    </ul>
  </div>

  <div class="d-none" data-display-form-target="question_2">
    <p>Choose a book category</p>
    <ul>
      <li>Best-seller</li>
      <li>Classic</li>
      <li>Contemporary</li>
      <li>Kids-friendly</li>
    </ul>
  </div>

  <div class="d-none" data-display-form-target="question_3">
    <p>How much reading are you in the mood for?</p>
    <ul>
      <li>Short book</li>
      <li>Long book</li>
      <li>Whatever</li>
    </ul>
  </div>

  <div class="d-none" data-display-form-target="question_4">
    <p>What do you prefer?</p>
    <ul>
      <li>Non-fiction</li>
      <li>Fiction</li>
    </ul>
  </div>

  <div class="d-none" data-display-form-target="question_5">
    <p>What type of reading pace do you prefer?</p>
    <ul>
      <li>Fast-paced</li>
      <li>Slow and thoughtful</li>
      <li>Balanced</li>
      <li>Flexible</li>
    </ul>
  </div>
</div>
