<h1>A new chapter awaits!</h1>
<p>Thank you for adding this book to your bookshelf! Be sure to join the conversation and share your thoughts with others in the book communities.</p>
<%= link_to "Explore", "#" %>
<%= link_to "Go to your bookshelf", user_books_path %>
