<%= turbo_stream_from "recommendations" %>
<div class="custom-container" id="recommendations" data-controller="quote-rotator">
  <p><h1>Almost ready! Your next read is coming soon.</h1></p>
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <br>
  <p id="quotes" data-quote-rotator-target="quote"><i>Loading...</i></p>
</div>
