<%= turbo_stream_from "recommendations" %>

<div class="loading-container" id="recommendations" data-controller="quote-rotator">
  <p><h1>Almost ready! Your next read is coming soon.</h1></p>
  <div class="loader"></div> <!-- Replace spinner with custom loader -->
  <br>
  <p id="quotes" data-quote-rotator-target="quote"><i>Loading...</i></p>
</div>
