.see-details-toggle{
  flex-shrink: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  gap: 0.5rem;
}

.detail-icon{
  width: 1.4rem;
  height: 1.4rem;
}

.already-added{
  font-size: 1.2rem;
  font-weight: bold;
  color: #F1E4A3;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.buy-from{
  margin-top: 2rem;
}

.book-txt h2{
  padding: 0 4rem;
  margin-top: 2rem;
  font-size: 1.8rem;
}
