body, html {
  background-color: $background_color;
  font-size: 10px;
  margin: 0; /* Remove default margin */
  padding: 0; /* no extra spacing */
  min-height: 100%; /* Allow the content to grow beyond the viewport */
  // display: flex;
  // justify-content: center; /* Horizontal centering */
  // align-items: center; /* Vertical centering */
  font-family: "Inter", sans-serif;
}

// this only works for the homepage because it needs more pading on top and bottom I just realised (custom container)👇🏻

.custom-container {
    // text-align: center; /* Center text inside the container */
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // min-height: 100vh; /* Ensures the container takes the full viewport height */
    // justify-content: center; /* Centers content vertically */
    // // position: relative;
    // width: 100%;
    padding: 8rem 0;
}


// /* Adjust font size only for smaller devices */
// @media (max-width: 375px) { /* iPhone SE and smaller devices */
//   html {
//     font-size: 8px; /* Scale down slightly for smaller screens */
//   }
// }

// @media (min-width: 768px) { /* Tablets and larger devices */
//   html {
//     font-size: 12px; /* Scale up for larger screens */
//   }
// }
