body, html {
  background-color: $background_color;
  font-size: 10px;
  margin: 0;
  height: 100%; /* Full viewport height */
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  font-family: "Inter", sans-serif;
}

.container {
    text-align: center; /* Center text inside the container */
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh; /* Ensures the container takes the full viewport height */
    justify-content: center; /* Centers content vertically */
    // position: relative;
}
