.bookshelf {
  padding-bottom: 90px;
}


.bookshelf-title h1 {
  color: #B9D9EC;
  font-size: 3.5rem;
  font-weight: bold;
}
.bookshelf-title p {
  font-size: 1.5rem;
}

.bookshelf-bookcover img {
  border-radius: 10px;
  box-shadow: 0 0 15px 10px rgba(221, 231, 235, 0.2);;
}

.bookshelf-author{
color: gray;
}

.update-button button {
  color: rgb(235, 69, 235);
  border: solid rgb(235, 69, 235);
  background-color: #1C042E;
  border-radius: 3px;
  padding: 4px 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
}

.update-button {
  padding-left: 10px;
}

.update-button button :hover {
  background-color: #360859;
}
.progress-word p {
  font-size: 1.2rem;
  color: #B9D9EC;
}

.progress-word progress {
  padding: 10px;
}

.bookshelf-bookcover a{
text-align: center;
font-size: 1.2rem;
color: #B9D9EC;
padding-bottom: 10px;
}
