// // LOGIN BUTTONS! 👇🏻

.login_button{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  background: #B9D9EC;
  color: #000;
  box-shadow: 0.1rem 0.2rem 0.2rem 0px rgba(0, 0, 0, 0.25);
  width: 9.2rem;
  height: 5.3rem;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.login_button  {
  text-decoration: none;
}

.logout_button{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  border-color: #B9D9EC;
  // border: solid;
  // border-width: thin;
  // background: transparent;
  color: white;
  // box-shadow: 0.1rem 0.2rem 0.2rem 0px rgba(0, 0, 0, 0.25);
  width: 9.2rem;
  height: 5.3rem;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
}

// .login_button a {
//   text-decoration: none;
// }

// .login_button text{
//   color: #000;
//   // font-family: Inter;
//   font-size: 14px;
//   font-style: normal;
//   font-weight: 500;
//   line-height: normal;
// }

// .login_button:hover{
//   background: #F4F4F4;
// }

// // Variant modifiers for different background colors and hover states 👇🏻

// .login_button--variant2 {
//   background: rgba(99, 189, 242, 1);
// }

// // Join Buttons!!!👇🏻

.join_button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5.6rem;
  height: 3.5rem;
  flex-shrink: 0;
  border-radius: 0.7rem;
  background: #B9D9EC;
  box-shadow: 0.1rem 0.2rem 0.2rem 0px rgba(0, 0, 0, 0.25);
  font-weight: 500;
}

.recommendation_button{
  width: 12em;
  height: 2em;
  border: solid;
  border-width: thin;
  font-weight: 500;
}



// .join_button text{
//   color: #000;
//   // font-family: Inter;
//   font-size: 14px;
//   font-style: normal;
//   font-weight: 500;
//   line-height: normal;
// }
// // Variant modifiers for different background colors and hover states 👇🏻

// .login_button--variant2 {
//   background: rgba(99, 189, 242, 1);
// }

.discover_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17.3rem;
  height: 7rem;
  // flex-shrink: 0;
  border-radius: 1rem;
  background: #B9D9EC;
  box-shadow: 0.1rem 0.2rem 0.2rem 0px rgba(0, 0, 0, 0.25);
  color: #000;
  font-size: 2.4rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
  // transition: transform 0.2s ease, box-shadow 0.2s ease;

  /* Prevent movement on click */
  margin: 0;
  outline: none;
  // position: relative; /* Allows absolute positioning of child elements */
}

// .discover-icon {
//   // position: absolute;
//   // left: 0.7rem;
//   // bottom: 1.6rem;
// }
// .discover_button text{
//   color: #000;
//   // font-family: Inter;
//   font-size: 24px;
//   font-style: normal;
//   font-weight: 500;
//   line-height: normal;
// }

// .discover_button--variant2 {
//   background: rgba(99, 189, 242, 1);
// }

// .add_to_bookshelf_button{
//   width: 183px;
//   height: 50px;
//   flex-shrink: 0;
//   border-radius: 10px;
//   background: #B9D9EC;
// }

// .add_to_bookshelf_button text{
//   width: 113.462px;
//   height: 17px;
//   flex-shrink: 0;
//   color: #1C042E;
//   font-family: Inter;
//   font-size: 14px;
//   font-style: normal;
//   font-weight: 400;
//   line-height: normal;
// }

// .add_to_bookshelf_button--variant2 {
//   background: rgba(99, 189, 242, 1);
// }

// .go_button{width: 61px;
//   height: 40px;
//   flex-shrink: 0;
//   border-radius: 6.243px;
//   background: #B9D9EC;
// }

// .go_button text{
//   color: #000;
//   // font-family: Inter;
//   font-size: 18px;
//   font-style: normal;
//   font-weight: 500;
//   line-height: normal;
// }

// .added-to-bookshelf_button{
//   width: 183px;
//   height: 50px;
//   flex-shrink: 0;
//   border-radius: 10px;
//   background: #B9D9EC;
// }

// .add-to-bookshelf-button text{
//   width: 244.267px;
//   height: 25px;
//   flex-shrink: 0;
//   color: #1C042E;
//   font-family: Inter;
//   font-size: 24px;
//   font-style: normal;
//   font-weight: 400;
//   line-height: normal;
// }

// // Pop up buttons!!!👇🏻

// .leave_button{
//   width: 67.889px;
//   height: 37.127px;
//   flex-shrink: 0;
//   border-radius: 5.304px;
//   background: #D9D9D9;
//   box-shadow: 0px 2.122px 2.122px 0px rgba(0, 0, 0, 0.25);
// }

// .leave_button text{
//   width: 44.022px;
//   height: 15.381px;
//   flex-shrink: 0;
//   color: #000;
//   font-family: Inter;
//   font-size: 12px;
//   font-style: normal;
//   font-weight: 500;
//   line-height: normal;
// }

// .stay_button{
//   width: 53.396px;
//   height: 37.126px;
//   flex-shrink: 0;
//   border-radius: 5.304px;
//   background: #B9D9EC;
//   box-shadow: 0px 2.122px 2.122px 0px rgba(0, 0, 0, 0.25);
// }

// .stay_button text{
//   width: 34.624px;
//   height: 15.381px;
//   flex-shrink: 0;
//   color: #000;
//   font-family: Inter;
//   font-size: 12px;
//   font-style: normal;
//   font-weight: 500;
//   line-height: normal;
// }
// // END!!!
