.navbar {
  position: fixed;
  bottom: 0;
  width: 100%;

}

ul {
  list-style-type: none;
  display: flex;
  padding: 1em;
  margin: 0;
  width: 100%;
  justify-content: center;
}

li {
  margin: 0.2em;
}
