body{
  background-color: #1C042E;
  color: #FFFFFF;
  align-items: center;
}

.form-inputs{
  margin: 54px;
  align-items: center;
  letter-spacing: 20%;
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 30px;
}

h2{
  text-align: center;
  padding-top: 30px;
}

.form-actions{
  text-align: center;
  background-color: #B9D9EC;
  border-radius: 10px;
  width: 183px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 10px;
  margin-bottom: 20px;
}

a{
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  margin-left: 54px;
  margin-bottom: 30px;
}
